<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knight Bite</title>
    <link rel="icon" href="../Asserts/images/kb_footer.png">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="chatbot">
        <i class="fa-brands fa-rocketchat"></i>
    </div>
    <nav>
        <div class="nav-logo">
            <img src="../Asserts/images/kb_logo_new_2.png" alt="">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./menu.html">Menu</a></li>
                <li><a href="./francise.html">Franchise</a></li>
            </ul>
        </div>
    </nav>
    <header class="menu-header">
        <div class="menu1">
           <a href=""> <img src="../Asserts/images/burger-icon.png" alt="">
            <h1>BURGERS</h1>
            <img src="../Asserts/images/add-icon.svg" alt=""></a>
        </div>
        <div class="menu1">
           <a href=""> <img src="../Asserts/images/starters-icon.png" alt="">
            <h1>FRIES/STARTERS</h1>
            <img src="../Asserts/images/add-icon.svg" alt=""></a>
        </div>
        <div class="menu1">
           <a href=""> <img src="../Asserts/images/main-course-icon.png" alt="">
            <h1>MAIN COURSE</h1>
            <img src="../Asserts/images/add-icon.svg" alt=""></a>
        </div>
        <div class="menu1 menudrink">
          <a href="">  <img src="../Asserts/images/drink2.png" alt="">
            <h1>DRINKS</h1>
            <img src="../Asserts/images/add-icon.svg" alt=""></a>
        </div>
        <div class="menu1">
           <a href=""> <img src="../Asserts/images/wrap-icon.png" alt="">
            <h1>WRAPS</h1>
            <img src="../Asserts/images/add-icon.svg" alt=""></a>
        </div>
        <div class="menu1">
            <a href=""><img src="../Asserts/images/desserts-icon.png" alt="">
                <h1>DESSERTS</h1>
                <img src="../Asserts/images/add-icon.svg" alt=""></a>
        </div>
    </header>

    <footer>
        <small>&copy; Copyright 2025. Knight Bite Foods Pvt. Ltd. All Rights Reserved</small>
    </footer>



</body>
</html>